<html>                                                                                                                            
<head>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',    filename='plotly.css') }}" />
</head>
<body>                                                                                                                            
<script src="https://code.jquery.com/jquery-latest.js"  type="text/javascript"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static',    filename='./aqi/aqi.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='./aqi/aqi.css') }}">
<!--script src="./jquery.switchButton.js"></script-->

<div id="meta"></div>
<div id="ppm25" style="float:left;"></div>                                                                                        
<div id="ppm10" style="float:right;"></div>
<div id="spinner"><img src="https://faviconer.net/preloaders/89/Fading%20line.gif"/></div>
<div id="diagram"></div>

<div class="container">
    <h3><a href="https://en.wikipedia.org/wiki/Air_quality_index" target="_blank">AQI</a> <span class='time' id="time"></span></h3>
      <div class='aqi-container' id="containerPm10">
          <div class='aqi-label'>AQI (PM10)</div>
          <div class='aqi' id="aqiPm10"></div>
          <div class='pm-label' id="pm10"></div>
      </div>
      <div class='aqi-container' id="containerPm25">
          <div class='aqi-label'>AQI (PM2.5)</div>
          <div class='aqi' id="aqiPm25"></div>
          <div class='pm-label' id="pm25"></div>
      </div>
    <div>
        <table class="">
        <caption>AQI Category, Pollutants and Health Breakpoints
        </caption>
        <tbody><tr>
        <td style="background: #9cf; colour: black; font-weight:bold">AQI Category (Range)
        </td>
        <td style="background: #9cf; colour: black; font-weight:bold">PM<sub>10</sub> (24hr)
        </td>
        <td style="background: #9cf; colour: black; font-weight:bold">PM<sub>2.5</sub> (24hr)
        </td></tr>
        <tr>
        <td style="background:#0c0; colour: black">Good (0–50)
        </td>
        <td style="background:#0c0; colour: black">0–50
        </td>
        <td style="background:#0c0; colour: black">0–30
        </td></tr>
        <tr>
        <td style="background:#6c0; colour: black">Satisfactory (51–100)
        </td>
        <td style="background:#6c0; colour: black">51–100
        </td>
        <td style="background:#6c0; colour: black">31–60
        </td></tr>
        <tr>
        <td style="background: #ff0; colour: black">Moderately polluted (101–200)
        </td>
        <td style="background: #ff0; colour: black">101–250
        </td>
        <td style="background: #ff0; colour: black">61–90
        </td></tr>
        <tr>
        <td style="background: #f90; colour: black">Poor (201–300)
        </td>
        <td style="background: #f90; colour: black">251–350
        </td>
        <td style="background: #f90; colour: black">91–120
        </td></tr>
        <tr>
        <td style="background:red; colour: black">Very poor (301–400)
        </td>
        <td style="background:red; colour: black">351–430
        </td>
        <td style="background:red; colour: black">121–250
        </td></tr>
        <tr>
        <td style="background:brown; colour: black">Severe (401–500)
        </td>
        <td style="background:brown; colour: black">430+
        </td>
        <td style="background:brown; colour: black">250+
        </td>
        </tr></tbody></table>
    </div>
</div>
<script type="text/javascript">

</script>

<script>
    var x10=new Array();
    var y10=new Array();
    var x25=new Array();
    var y25=new Array();

    var sendDate = (new Date()).getTime();

  $( document ).ready(function() {
    $("#spinner").show();
    // start one time
    readData();
    //AQI
    getData({{days}});
    //setInterval(getData, 60000);
  });

  $(window).resize(function(){
    if ($('#diagram').html() == ""){
        return;
    }
    reDrawData();
  });

  function mkArray(json){
    console.log(json);
    $.each(json, function(key, obj) {
      console.log(key);

	  x10.push(key);
	  y10.push(obj[0].ppm10);

	  x25.push(key);
	  y25.push(obj[0].ppm25);
	  drawData();

    });
  }

  function mkArray2(json){
    var receiveDate = (new Date()).getTime();
    var responseTimeMs = receiveDate - sendDate;
    console.log("time: "+responseTimeMs);

    x10 = json["x10"];
    y10 = json["y10"];

    x25 = json["x25"];
    y25 = json["y25"];

    $("#meta").html(niceMeta(json["meta"]));

    drawData();
  }

  function niceMeta(meta){
    return meta["results"]+" results - from: "+meta['from']+" to: "+meta['to'];
  }

  function readData(){
   $.ajax({
     {% if days %}
      url: "/fs/api/v1.0/pl/lastdays/{{days}}",
     {% elif sto %}
      url: "/fs/api/v1.0/pl/range/{{sfrom}}/{{sto}}",
     {% elif sfrom %}
      url: "/fs/api/v1.0/pl/range/{{sfrom}}",
     {% endif %}
      async: true,
      timeout: 99999999,
      success: mkArray2
    });
  }

  function drawData(){
    var trace1 = {
      x: x25,
      y: y25,
      type: 'scatter',
      name: 'ppm2.5 (25)'
    };
    var trace2 = {
      x: x10,
      y: y10,
      type: 'scatter',
      name: 'ppm10 (40)'
    };
    var data = [trace2, trace1];
    Plotly.newPlot('diagram', data);
    $("#spinner").hide();
    $("#diagram").show();
  }

  function reDrawData(){
    var update = {
      width: $( "body" ).width()
    };
    console.log(update);
    Plotly.relayout('diagram', update);
  }
</script>
</body>                                                                                                                           
</html>           
