<html>
<head>
	<!-- Load c3.css -->
	<link href="{{ url_for('static',    filename='c3/c3.css') }}" rel="stylesheet">

	<!-- Load d3.js and c3.js -->
	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="{{ url_for('static',    filename='c3/c3.min.js') }}"></script>
	<script src="https://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
</head>
<body>
<script>

function load(){
	console.log("loading ...");
	console.log( "from: "+encodeURIComponent("{{sfrom}}") );
	console.log("to: "+encodeURIComponent("{{sto}}") );

	var d = d3.json("/fs/api/v1.0/range/"+encodeURIComponent("{{sfrom}}")+"/"+encodeURIComponent("{{sto}}")).then(draw);
}

function handleError(error){
	console.log(error);
}

function draw(data){
	scala = []; //d3.keys(data);
	scala.push('x');

	pall = d3.entries(data);

	ppm10data = [];
	ppm10data.push('ppm10');

	ppm25data = [];
	ppm25data.push('ppm2.5');

	p10 = d3.values(data);
	pall.forEach(function (p){
		if (p.key != "meta"){
			scala.push(p.key);
			ppm10data.push(p.value[0].ppm10);
			ppm25data.push(p.value[0].ppm25);
		}
	});
	//console.log(scala);
	var chart = c3.generate({
	    data: {
	        x: 'x',
	        xFormat: '%Y-%m-%d %H:%M:%S', // 'xFormat' can be used as custom format of 'x'
	        columns: [
	        	scala,
	            ppm10data,
	            ppm25data
	        ]
	    },
	    axis: {
	        x: {
	            type: 'timeseries',
	            tick: {
	                format: '%Y-%m-%d %H:%M:%S'
	            }
	        }
	    }
	});
}

$( document ).ready(function() {
	console.log("start...");
	load();
});
</script>
<div id="chart"></div>
</body>
</html>